/*plz read comment */

body{
  background-color: black;

}
/*mian 3*/
h1{
  color:rgb(0, 0, 255);
}
p{

  color:white;
}
/*Main4 B using class selector*/
.odd{
  color:teal;
}
.even{
  color:green;
}

/*Main 4 A*/
/*
#p1{
  color:#0066ff
}

#p2{
  color:#cc00ff
}

#p3{
  color:#33cc33
}

#p4{
  color:#cc6600
}

#p5{
  color:#990000
}

#p6{
  color:#cc3399
}
*/
